# Quick intro to Pandas

Pandas is a data manipulation (data wrangling) utility.

1. import Pandas.  
2. read csv file "winemag-data-130k-v2.csv" containing wine reviews into data frame 'reviews'
3. use review.head() to see the first few lines of the data frame

Notice what happens if you don't put 'index_col=0' in pd.read_csv

In [2]:
import pandas as pd
reviews = pd.read_csv("./winemag-data-130k-v2.csv", index_col=0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [2]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

In [3]:
len(reviews)

129971

In [4]:
reviews.shape

(129971, 13)

You can access by attribute: reviews.taster_name or reviews['taster_name']

In [5]:
reviews['taster_name']

0              Kerin O’Keefe
1                 Roger Voss
2               Paul Gregutt
3         Alexander Peartree
4               Paul Gregutt
                 ...
129966    Anna Lee C. Iijima
129967          Paul Gregutt
129968            Roger Voss
129969            Roger Voss
129970            Roger Voss
Name: taster_name, Length: 129971, dtype: object

You can see the first 5 elements

In [6]:
reviews.taster_name[0:5]

0         Kerin O’Keefe
1            Roger Voss
2          Paul Gregutt
3    Alexander Peartree
4          Paul Gregutt
Name: taster_name, dtype: object

## Your turn

Select the `description` column from reviews and assign the result to variable `desc`

In [5]:
desc = reviews.description

Accessing parts of a data frame using .loc and .iloc 

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

.loc takes labels or indices; counts from 0 to length

.iloc onl takes index or index arrays; counts from 0 to length-1

Both goes row then column

You can play with `reviews.iloc[row_index]` and `reviews.iloc[:,column_index]`

In [ ]:
reviews.iloc[:,4]

In [ ]:
reviews.loc[1:4, 'country']  # compare with reviews.iloc[1:4,0]

## Your turn

Select the records with index labels 1, 2, 3, 5 and 8, assinging the result to the variable `sample_reviews`

In [18]:
sample_reviews = reviews.loc[[1, 2, 3, 5, 8]]
sample_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel

## Your turn
Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 1, 10, and 100.

In [20]:
df = reviews.loc[[0, 1, 10, 100], ['country', 'province', 'region_1', 'region_2']]
df.head()

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

You can filter data frame using loc

In [ ]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

You can use isin to select attributes

In [ ]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

## Your turn

Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [11]:
top_oceania_wines = reviews.loc[(reviews.country.isin(['Australia', 'New Zealand'])) & (reviews.points >= 95)]

Grouping and sorting using `groupby` and `sort`.
This next command groups by points and counts the number of rows having different points

In [ ]:
reviews.groupby('points').points.count()

## Your turn

Who are the most common wine reviewers in the dataset? Create a Series whose index is the `taster_name` category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
reviews_written = reviews.groupby('taster_name').size()
reviews_written

Group by points and find cheapest wine in each point category.

In [ ]:
reviews.groupby('points').price.min()

Group by country and from each country find how many prices, min and max prices.
The `.agg()` method lets you rund different functions on the dataframe simultaneously

In [ ]:
reviews.groupby(['country']).price.agg([len, min, max])

In [ ]:
countries_reviewed = reviews.groupby(['country','province']).description.agg([len])
countries_reviewed

We want to sort this by `len`.  First we need to index the rows.

In [ ]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed

In [ ]:
countries_reviewed.sort_values(by='len')

## Your turn
Here I can find highest rated in each price point, but I don't which wine it is.  Any ideas?

In [26]:
index = reviews.groupby(['price'])['points'].idxmax()
best_rating_per_price = reviews.loc[index, ['price', 'title', 'points', 'variety']]
best_rating_per_price = best_rating_per_price.sort_values(by='points', ascending=False)
best_rating_per_price

,price,title,points,variety
45798,200.0,Cardinale 2006 Cabernet Sauvignon (Napa Valley),100,Cabernet Sauvignon
58352,150.0,Château Léoville Barton 2010 Saint-Julien,100,Bordeaux-style Red Blend
45781,550.0,Biondi Santi 2010 Riserva (Brunello di Montal...,100,Sangiovese
42197,450.0,Casa Ferreirinha 2008 Barca-Velha Red (Douro),100,Portuguese Red
111754,270.0,Casanova di Neri 2007 Cerretalto (Brunello di...,100,Sangiovese Grosso
...,...,...,...,...
46030,181.0,Ceretto 2014 Asili (Barbaresco),88,Nebbiolo
44054,6.0,Ste. Chapelle 2001 Johannisberg Riesling (Idaho),88,Johannisberg Riesling
78235,790.0,Burmester 1963 Colheita (Port),87,Port
24592,5.0,In Situ 2008 Reserva Sauvignon Blanc (Aconcagu...,87,Sauvignon Blanc
64590,4.0,Bandit NV Merlot (California),86,Merlot

In [21]:
price_extremes = reviews.groupby('variety').price.agg([min, max])
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

## Your turn
Find each reviewer's mean rating.  Hint: use `.mean()` method.

In [12]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64